@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rebuild Trigger */

@font-face {
    font-family: 'Hind Siliguri';
    src: url('./assets/fonts/HindSiliguri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('./assets/fonts/HindSiliguri-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('./assets/fonts/HindSiliguri-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('./assets/fonts/HindSiliguri-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('./assets/fonts/HindSiliguri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@layer base {
    body {
        font-family: "Hind Siliguri", sans-serif;
    }
}